body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Assure que le contenu commence en haut de la page */
    height: 100vh; /* Utilise 100% de la hauteur de la fenêtre */
}

.quiz-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    overflow-y: auto; /* Permet le défilement si le contenu dépasse */
    max-height: 80vh; /* Limite la hauteur du quiz à 80% de la fenêtre */
}

h1 {
    text-align: center;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #333;
}
